<!DOCTYPE html>
<html ng-app="listatelefonica">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
		<style type="text/css">
			.jumbotron{
				padding-top: 30px;
				padding-bottom: 30px;
				min-width: 400px;
				max-width: 475px;
				text-align: center;
				margin-top: 20px;
				margin-right: auto;
				margin-left: auto;
			}

			.table{
				text-align: left;
				margin-top: 20px;
			}

			.form-control{
				margin-bottom: 5px;
			}

			.selecionado{
				background-color: #FFFFCC !important;
			}

			.sublinhado{
				text-decoration: underline;
			}
		</style>
		<script src="angular.min.js"></script>
		<title>Lista Telefonica</title>
		<script>
			angular.module("listatelefonica",[]);
			angular.module("listatelefonica").controller("listatelefonicaCtrl",function ($scope){
				$scope.app="Lista Telefonica";
				$scope.contatos=[
					{nome:"Matheus",telefone:"14 99657-1297",cor:"#17a2b8"},
					{nome:"Fernando",telefone:"14 98145-6532",cor:"#ffc107"},
					{nome:"Tiago",telefone:"14 99453-5667",cor:"#dc3545"}
				];
				$scope.operadoras=[
					{nome: "Oi", codigo: 14, categoria: "Celular"},
					{nome: "Vivo", codigo: 15, categoria: "Celular"},
					{nome: "Tim", codigo: 41, categoria: "Celular"},
					{nome: "GVT", codigo: 25, categoria: "Fixo"},
					{nome: "Embratel", codigo: 21, categoria: "Fixo"},
					{nome: "Claro", codigo: 21, categoria: "Celular"}

				];
				$scope.adicionarContato=function (contato){
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
				};
				$scope.apagarContatos=function (contatos){
					$scope.contatos=contatos.filter(function (contato) {
						if(!contato.selecionado) return contato;
					});
				};
				$scope.isContatoSelecionado=function (contatos){
					return contatos.some(function (contato){
						return contato.selecionado;
					});
				};
			});
		</script>
	</head>

	<body>
		<div class="jumbotron" ng-controller="listatelefonicaCtrl">
			<!--<h4 ng-bind="app"></h4>-->
			<h4>{{app}}</h4>
			<!--{{contatos}}-->
			<table class="table table-striped" ng-show="contatos.length > 0">
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
					<th></th>
				</tr>
				<tr ng-class="{'selecionado sublinhado': contato.selecionado}" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado"/></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
					<td><div style="width: 20px; height: 20px; border-radius:50%;" ng-style="{'background-color': contato.cor}"></div></td>
				</tr>
				<!--<tr ng-repeat="contato in contatos">
					<td ng-repeat="(key,value) in contato">
						{{key + ' - ' + value}}
					</td>
				</tr>-->
			</table>
			
			<input class="form-control" type="text" placeholder="Nome" ng-model="contato.nome"/>
			<input class="form-control" type="text" placeholder="Telefone" ng-model="contato.telefone"/>
			<!--<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">-->
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora">Adicionar Contato</button>
			<!--<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contatos</button>-->
			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
			<!--{{contato}}-->
		</div>
		<div ng-include="'footer.html'"></div>
	</body>
</html>